//////////////////
// Colors
//////////////////
$white: #ffffff;
$black: #000000;
$c-dark: #2D2D2D;

$c-gray: #F5F5F5;
$c-gray-dark: #B5B5B5;
$c-dim-gray: #5B5B5B;

$c-blue: #5D83E3;

$c-green: #3FA747;

$c-orange: #ffa63d;

$c-red: #de0c0f;
$d-blue: #243441;
$b-title: #3F496F;
$text: #596282;
$b-hover: #83E6FC;
$g-white: #ECF0F3;
$hover-btn: linear-gradient(124.93deg, #83E6FC 8.87%, #5973D0 96.39%);
$dl-btn: #BECBD4;

//////////////////
// BACKGROUNDS
//////////////////
$bg: (
    body: #ECF0F3,
    wrapper: transparent,
    container: transparent,
);

//////////////////
// Header
//////////////////
$header: (
    height: 80px,
    height-sm: 50px,
    height-xs: 48px,
    bg: $d-blue,
);


//////////////////
// Menu
//////////////////
$menu: (
    width: 290px,
    bg: white,
    bg-active: transparent,
    bg-hover: rgba(white, .05),
    color-active: $c-dark,
);

//////////////////
// menu-links
//////////////////
$mn-links: (
    color-main: $g-white,
    color-brd: rgba($c-blue, .3),
    color-hover: $b-hover
);

$submenu: (
    bg: white,
    bg-xs: whitesmoke,
    width: 200px
);

$mtoggle: (
    size: 44px,
    width: 24px,
    height: 2px,
    color: black,
    color-hover: black,
    color-active: black,
    distanceBetween: 8px,
    bg: transparent
);


//////////////////
// Footer
//////////////////
$footer-bg: transparent;


//////////////////
// Content
//////////////////
$text: (
    color-main: $c-dark,
    color-dark: $c-dark,
    color-dark-fade: rgba($c-dark, .8),
    color-light: $white,
    color-light-fade: rgba($white, .8),
    disabled: rgba($c-dark, .6)
);

$note-color: rgba(map_get($text, color-main), .7);

$table: (
    tr-bg: white,
    tr-bg-hover: white,
    br-color: lighten(slategray, 38%)
);

$content: (
    blockquote-br: $black,
    hr-color: rgba($black, .08),
    hr-color-lt: $white,
    list-dot-bg: rgba($c-dark, .8),
    mark-bg: yellow,
    code-bg: lighten(slategray, 40%),
    important-color: $c-red,
    error-color: $c-red,
    success-color: $c-green,
    info-color: $c-blue,
    warning-color: $c-orange
);

//////////////////
// ANIMATIONS
//////////////////
$tr-time: .2s;
$tr-type: ease-in-out;


//////////////////
// Links
//////////////////
$link: (
    color-main: $c-blue,
    color-brd: rgba($c-blue, .3),
    color-hover: $c-red
);
$preloader: (
    width: 28px,
    height: 28px,
    color: $c-dark,
    thickness: 2px,
    btnWidth: 28px,
    btnHeight: 28px,
    indicatorWidth: 20px,
    indicatorHeight: 20px,
    contentWidth: 20px,
    contentHeight: 20px
);


//////////////////
// Buttons
//////////////////
$button: (
    //main-bg: $bg-btn,
    main-bg-hover: $hover-btn,
    main-color: white,
    disabled-bg: $dl-btn,
    disabled-color: $c-dark,
    close-color: $c-dark,
    close-color-hover: $c-red
);


//////////////////
// Forms
//////////////////
$input: (
    height: 50px,
    max-w: 100%,
    max-w-short: 280px,
    bg: white,
    color: map_get($text, color-main),
    bg-active: white,
    brd: rgba($black, .2),
    brd-hover: rgba($black, .5),
    brd-focus: rgba($black, 1),
    disabled: rgba($black, .1),
    placeholder-color: rgba($black, .4)
);

$textarea: (
    height: 50px,
    max-height: 250px,
);

$select: (
    bg-selected: rgba($black, .8),
    bg-hover: rgba($black, .08)
);


//////////////////
// Box
//////////////////
$brd-rad-main: 50px;
$brd-rad-box: 3px;

$brd-color: rgba(gray, .1);


//////////////////
// Modals
//////////////////
$modal: (
    width: 480px,
    width-min: 400px,
    width-big: 800px,
    bg: white,
    bg-backdrop: rgba($c-dark, .3),
    close-size: 22px
);

//////////////////
//scrollbar & selection
//////////////////
$scrollbar: (
    size: 8px,
    radius: 10px,
    track-bg: slategray,
    bg: transparent
);
$scrollbarCustom: (
    handle-size: 3px,
    handle-radius: 10px,
    track-bg: whitesmoke,
    handle-bg: rgba(black, .4),
    handle-bg-active: rgba(black, .7),
    handle-bg-hover: rgba(black, .55),
);

$selectoin: (
    color: $white,
    bg: $c-dark,
);


//////////////////
// STRUCTURE
//////////////////
$grid-cols: 24 !default;
$grid-gutter: 35px;
$grid-gutter-sm: 30px;
$grid-gutter-xs: 20px;
$flex-row-class: 'flex-row';
$flex-col-name: 'flex-col';
$grid-breakpoints: (
    sm 768px,
    md 992px,
    lg 1200px
);

$breakpoints: (
    xs: 767px,
    sm-min: 768px,
    sm-max: 991px,
    md-min: 992px,
    md-max: 1199px,
    lg-min: 1200px,
    lg-max: 1399px,
    xl-min: 1400px,
    xl-max: 1599px
);

$section-offset: 80px;
$section-offset-sm: 60px;
$section-offset-xs: 40px;

$container-gutter: 20px;
$container-gutter-sm: 30px;
$container-gutter-xs: 20px;
$container: (
    max-width: 1300px,
    width-wo-gutter: 1200 - $container-gutter*2,
    min-width: 320px,
    width: 100%,
    narrow: 700px,
    narrow-med: 995px,
);


//////////////////
// FONTS
//////////////////
$fz-little: 12px;

$fz-min: 13px;
$fz-xmin: 14px;

$fz-main: 16px;
$fz-xmain: 18px;

$fz-med: 20px;
$fz-xmed: 25px;
$fz-xxmed: 26px;

$fz-large: 30px;
$fz-xlarge: 33px;
$fz-xxlarge: 35px;

$fz-big: 40px;
$fz-xbig: 45px;
$fz-xxbig: 50px;

$fz-xl: 55px;
$fz-xxl: 70px;

$font: (
    family: ('Arial', sans-serif),
    title: ('Arial', sans-serif),
    weight: normal,
    size: $fz-main,
    line-height: 1.4
);